@model IEnumerable<ClientApp.Models.Case>

<h2>Arama Sonuçları</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Müvekkil</th>
            <th>TC / Vergi No</th>
            <th>Dosya No</th>
            <th>Kaza Tarihi</th>
            <th>Durum</th>
            <th>Sigorta Şirketi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var c in Model)
        {
            <tr>
                <td>@c.Muvekkil</td>
                <td>@c.TcVergiNo</td>
                <td>@c.HasarDosyaNo</td>
                <td>@c.KazaTarihi?.ToString("dd.MM.yyyy")</td>
                <td>@c.TahkimDurumu</td>
                <td>@c.SigortaSirketi</td>
                <td>
                   <a class="btn btn-sm btn-info" asp-controller="ClientPortal" asp-action="CaseDetails" asp-route-id="@c.Id">Detay</a>
                </td>
            </tr>
        }
    </tbody>
</table>