@model IEnumerable<ClientApp.Models.Client>

<h2>Müvekkil Listesi</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Müvekkil Ekle</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Kullanıcı No</th>
            <th>İletişim</th>
        </tr>
    </thead>
 <tbody>
        @foreach(var client in Model)
        {
            <tr>
                <td>@client.FullName</td>
                <td>@client.ClientCode</td>
                <td>@client.ContactInfo</td>
                <td>
                    <!-- Edit Butonu -->
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@client.Id">Düzenle</a>

                    <!-- Delete Butonu -->
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@client.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>